h1 {
    color: red;
}

/* Varsayılan Aydınlık Mod */
:root {
  --arka-plan: #ffffff;
  --yazi-rengi: #333333;
  --cookie-buton-bg: #ffffff;
  --kutu-rengi: lightgray;
}

/* Karanlık Mod Renkleri */
.dark-mode {
  --arka-plan: #1a1a1a;
  --yazi-rengi: #f0f0f0;
  --cookie-buton-bg: #1a1a1a;
  --kutu-rengi: #333333;
}

/* Sayfadaki öğelere bu değişkenleri ata */
body {
  background-color: var(--arka-plan);
  color: var(--yazi-rengi);
  transition: 0.3s; /* Renk geçişi yumuşak olsun diye */
}

.ust-bosluk {
    margin-top: 20px;
}

.ortalanmis-yazi {
    text-align: center;
}

.myDiv {
  border: 5px outset red;
  background-color: var(--kutu-rengi);
  text-align: center;
}

.ortali-buton {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100px; 
    height: 100px; 
    padding: 50px; 
    background: var(--cookie-buton-bg);
    color: brown;
    background-size: cover; 
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    transition: transform 0.1s ease-out; 
    transform: scale(1);

}

.ortali-buton:hover {
    filter: brightness(1.1); /* Üzerine gelince biraz parlar */
    transform: scale(1.05);  /* Çok hafif büyür */
    transition: 0.2s;
}

.ortali-buton:active {
    transform: scale(0.95); 
}

.buton-ikonu {
  width: 100px;
  height: 100px;
}

.thecat:hover {
    opacity: 0.8;
}

.vomit {
    color: brown;
    background: rgb(0, 255, 72);
    border-color: aquamarine;
    height: 30px;
    text-align: center;
}

.paragraph {
    text-align: center;
}

.sade {
    background-color: #ffffff;
}

#eggButton {
    position: fixed;
    bottom: 15px;
    right: 15px;

    border: 1px solid #555;
    border-radius: 6px;   /* köşeleri yumuşatır */
    background: gray;
    font-size: 14px;
    cursor: pointer;
}

.moreinfo {
   color: red;
}

.center {
    text-align: center;
}

.user_manual {
    background: cyan;
    border-radius: 6px;
}
