body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ekranın %100 yüksekliğini kullan demek */
    margin: 0;
}

/* İşte sihirli dokunuş burası */
.page-harmony {
    flex: 1; /* Bu komut, footer'ı sayfanın en altına itmek için boşluğu doldurur */
}

.myDiv {
  border: 5px outset red;
  background-color: #424242
  text-align: center;
}

:root {
  --arka-plan: #ffffff;
  --yazi-rengi: #333333;
  --cookie-buton-bg: #ffffff;
  --kutu-rengi: lightgray;
}

/* Karanlık Mod Renkleri */
.dark-mode {
  --arka-plan: #1a1a1a;
  --yazi-rengi: #f0f0f0;
  --cookie-buton-bg: #1a1a1a;
  --kutu-rengi: #333333;
}


.myDiv {
  border: 5px outset red;
  background-color: lightgray;
  text-align: center;
}

p {
  color: black;
}

.kuki {
  height: 200px;
  width: 200px;
  text-align: center;
}

.gmail {
  color: red;
}

.outlook {
  color: blue;
}

.yahoo {
  color: purple;
}

.black {
  color: black;
}

.original_page {
  color: black;
  background-color: green;
  border-color: red;
}
