body {
  color: gray
}

.myDiv {
  border: 5px outset red;
  background-color: lightgray;
  text-align: center;
}

p {
  color: black;
}

.kuki {
  height: 200px;
  width: 200px;
  text-align: center;
}

.gmail {
  color: red;
}

.outlook {
  color: blue;
}

.yahoo {
  color: purple;
}

.black {
  color: black;
}
